.layout {
  background-image: url('../img/background.webp');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.screen {
  width: 62.5rem;
  height: calc(40.4375rem - 2px);
  max-height: calc(40.4375rem - 2px);
  position: relative;
  border-radius: 50px;
  padding: 1.9rem;
  background-image: url("../img/ipadScreen.png");
}

.header__logo {
  width: 350px;
  height: auto;
}

button {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(0.98);
  }
}

.loading {
  width: calc(100% - 1.9rem - 1.9rem);
  height: calc(40.4375rem - 2px - 1.9rem - 1.9rem);
  position: absolute;
  border-radius: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  margin: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ripple {
  width: 1rem; /* control the size */
  background: #ffffff; /* control the color here */
  margin-bottom: 7rem;
}
.ripple,
.ripple::before,
.ripple::after {
  content: "";
  display: grid;
  grid-area: 1/1;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(192, 192, 192, 0.2); /* and here, 3 is the transparency */
  animation: r 3s linear infinite var(--s, 0s);
}
.ripple::before {
  --s: 1s;
}
.ripple::after {
  --s: 2s;
}

@keyframes r {
  to {
    box-shadow: 0 0 0 6rem #0000;
  }
}


.from-top-content {
  animation: from-top 1s ease;
}
.from-top-content-fast {
  animation: from-top .5s ease;
}

@keyframes from-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}